<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Spotify_Recorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Spotify_Recorder.Properties.Settings>
            <setting name="RecordPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RecordWAV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecordMP3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileExistMode" serializeAs="String">
                <value>SKIP</value>
            </setting>
            <setting name="FileNamePrototype" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Spotify_Recorder.Properties.Settings>
    </userSettings>
</configuration>
